/**
 * Don't display the footer in printable mode
 * @see https://phabricator.wikimedia.org/T111434
 */
#colophon {
	display: none;
}

/* As of MW 1.39+ this isn't defined anywhere in core anymore... */
.noprint {
	display: none;
}

/* Hide the "Jump to" accessibility links, not very useful on printed pages! */
.mw-jump-link {
	display: none;
}
